h1,
h2 {
  font-weight: 500;
  font-size: 65px;
  line-height: 100%;
  font-family: $roboto;
}

h3 {
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  font-family: $roboto;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  font-family: $roboto;
}

p {
  &.big {
    font-size: 32px;
    line-height: 118%;
  }
  &.sm {
    font-size: 16px;
    line-height: 175%;
  }
  &.ex {
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    font-family: $avenir;
  }
}
.main {
  overflow: hidden;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8.5px 18px;
  color: $white;
  border-radius: 6px;
  background-color: $primary;
  transition: 0.3s ease;
  cursor: pointer;
  position: relative;
  font-family: $roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  &:hover {
    opacity: 1;
    background-color: #54b2ff;
  }
}
.pagination {
  display: flex;
  align-items: center;
  &__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    font-family: $roboto;
    color: $black;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: transparent;
    &:hover {
      color: $primary;
    }
  }
  ul {
    padding: 0 30px;
    display: flex;
    align-items: center;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      &:last-child {
        margin: 0;
      }
      a,
      button {
        font-size: 16px;
        line-height: 100%;
        color: $black;
        font-family: $roboto;
        font-weight: 400;
        padding: 12px 15px;
        border-radius: 6px;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          opacity: 1;
          background-color: $primary;
          color: $white;
        }
        &.active {
          background-color: $primary;
          color: $white;
          &:hover {
            background-color: #54b2ff;
          }
        }
      }
    }
  }
}
