.footer {
  padding: 100px 0;
  &__inner {
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 60px;
    }
    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 253px;
        img {
            width: 100%;
        }
    }
    &-links {
      display: flex;
      align-items: center;
      a {
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        font-family: $roboto;
        color: $black;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        margin-right: 60px;
        &:last-child {
            margin: 0;
        }
        &:hover {
            opacity: 1;
            color: $primary;
        }
      }
    }
    &-copy {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-social {
        display: flex;
        a {
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            &:last-child {
                margin: 0;
            }
            &:hover {
                opacity: 1;
                svg {
                    color: $primary;
                }
            }
            svg {
                width: 100%;
                height: 100%;
                color: #292929;
                transition: .3s ease;
            }
        }
    }
  }
}
// 1380px
@mixin footer-xxxlg-xxxxlg {
  .footer {
    padding: 70px 0;
    &__inner {
      &-row {
        margin-bottom: 40px;
      }
    }
  }
}
// 1180px
@mixin footer-xlg-xxlg {
  .footer {
    padding: 40px 0;
    &__inner {
      &-row {
        margin-bottom: 30px;
      }
      &-logo {
        width: 220px;
      }
      &-links {
        a {
          margin-right: 40px;
        }
      }
    }
  }
}
// 750px
@mixin footer-sm-md {
  .footer {
    padding: 20px 0;
    &__inner {
      &-row {
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;
      }
      &-copy {
        flex-direction: column;
        align-items: center;
      }
      &-logo {
        width: 100%;
        max-width: 400px;
        margin-bottom: 50px;
      }
      &-social {
        order: -1;
        margin-bottom: 30px;
      }
    }
  }
}
// 540px
@mixin footer-xsm-sm {
  .footer {
    padding: 0 0 20px;
    &__inner {
      &-row {
        margin-bottom: 20px;
      }
      &-logo {
        max-width: 330px;
        margin-bottom: 30px;
      }
      &-links {
        a {
          margin-right: 30px;
          font-size: 12px;
        }
      }
      &-social {
        a {
          width: 30px;
          height: 30px;
          margin-right: 15px;
        }
      }
    }
  }
}
