.header {
  width: 100%;
  z-index: 10;
  background-color: $white;

  &__inner {
    padding: 66px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px;
      &:hover {
        opacity: 0.7;
      }
      img {
        width: 100%;
      }
    }
  }
}
// 1380px
@mixin header-xxxlg-xxxxlg {
  .header {
    &__inner {
      padding: 40px 0;
    }
  }
}
// 1180px
@mixin header-xlg-xxlg {
  .header {
    &__inner {
      padding: 30px 0;
      &-logo {
        width: 150px;
      }
    }
  }
}
// 1024px
@mixin header-lg-xlg {
  .header {
    &__inner {
      padding: 24px 0;
    }
  }
}
// 540px
@mixin header-xsm-sm {
  .header {
    &__inner {
      &-logo {
        width: 113px;
      }
    }
  }
}
@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
